:root{
    --bg-body:#fafafa;
    --header-menu-color:#2f3f4d;
    --header-menu-color-hover:#e50418;
    --header-menu-size:1rem;
    --header-menu-mobile-size:1.3rem;    
    --headeing-size:1.87rem;
    --heading-text-color1:#2f3f4d;
    --heading-text-color2:white;
    --heading-text-color3:#e50418;
    --heading-font-weight:800;
    --title-hero-section:2.3rem;
    --primary-buttons-color:#e50418;
    --primary-buttons-color-hover:#2f3f4d;
    --secondary-buttons-color:#2f3f4d;
    --secondary-buttons-color-hover:#e50418;
    --buttons-border-radius:999px;
    --buttons-text-color:white;
    --buttons-text-size:1rem;
    --buttons-text-weight:500;
    --buttons-shadow:0px 4px 10px rgba(0, 0, 0, 0.393);
    --paragraph-size:1rem;
    --paragraph-color:black;
    --bg-color-icons:#f1f2f2;
    --bg-search-bar:#f1f2f2;
    --primary-color-icons:#293948;
    --secondary-color-icons:#e50418;
    --active-menu-color:#e50418;
    --padding-left-and-right:5rem;
    --padding-left-and-right-lg:2.5rem;
    --padding-left-and-right-tablet:2rem;
    --padding-left-and-right-mobile:1rem;
}
*{
    box-sizing: border-box;
    font-family: 'vazir',sans-serif;
}
body{
    background-color: var(--bg-body);
}
html{
    scroll-behavior: smooth;
}
.cont{
    padding-right: var(--padding-left-and-right);
    padding-left: var(--padding-left-and-right);
}
a{
    text-decoration: none;
}
.menu-link{
    color: var(--header-menu-color);
    font-size: var(--header-menu-size);
}
.menu-link i{
    position: relative;
    top:3px;
    margin-left: 5px;
}
.menu-link:hover{
    color: var(--header-menu-color-hover);
}
.btn-panel{
    background-color: var(--primary-buttons-color);
    color: var(--buttons-text-color);
    border-radius: var(--buttons-border-radius);
    padding: 0.3rem 1.7rem 0.3rem 1.7rem !important;
    font-size: var(--buttons-text-size);
    font-weight: var(--buttons-text-weight);
}
.btn-panel:hover{
    background-color: var(--primary-buttons-color-hover);
}
.btns-header{
    background-color: var(--bg-color-icons);
    padding: 0.7rem 1rem 0.7rem 1rem;
}
.btns-header i{
    position: relative;
    top: 3px;
}
@media (max-width:1280px){
    
}
@media (max-width:1024px){
    .cont{
        padding-right: var(--padding-left-and-right-lg);
        padding-left: var(--padding-left-and-right-lg);
    }
    #join-newsletter{
        width: calc(100% - 5rem);
    }
    #reasons-to-choose{
        width: calc(100% -5rem);
    }
    #newsletter-about{
        width: calc(100% - 5rem);
    }
    #our-hostes{
        width: calc(100% - 5rem);
    }
}
@media (max-width:768px){
    .cont{
        padding-right: var(--padding-left-and-right-tablet);
        padding-left: var(--padding-left-and-right-tablet);
    }
    #join-newsletter{
        width: calc(100% - 4rem) !important;
    }
        #servises{
    width: calc(100% - 4rem) !important;
}
    #reasons-to-choose{
        width: calc(100% - 4rem);
    }
    #newsletter-about{
        width: calc(100% - 4rem);
    }
    #our-hostes{
        width: calc(100% - 4rem);
    }
}
@media (max-width:640px){
    .cont{
        padding-right: var(--padding-left-and-right-mobile);
        padding-left: var(--padding-left-and-right-mobile);
    }
    .title-hero{
        width: 95%
    }
    #join-newsletter{
        width: calc(100% - 2rem) !important;
    }
    #servises{
    width: calc(100% - 2rem) !important;
}
    #reasons-to-choose{
        width: calc(100% - 2rem);
    }
    #newsletter-about{
        width: calc(100% - 2rem);
    }
    #our-hostes{
        width: calc(100% - 2rem);
    }
}
.btn-menu{
    background-color: var(--bg-color-icons);
    padding: 0.7rem 1rem 0.7rem 1rem;
}
.btn-menu i{
    position: relative;
    top: 3px;
}
.menu-link-mobile{
    font-size: var(--header-menu-mobile-size);
    color: var(--header-menu-color);
}

.div-search-mobile{
    background-color: var(--bg-search-bar);
}
.btn-register-mobile{
    background-color: var(--primary-buttons-color);
    margin-bottom: 1rem;
    margin-top: 1.2rem;
}
.btns-offcanvas{
    color: var(--buttons-text-color);
    font-size: var(--buttons-text-size);
}
.btn-login-mobile{
    background-color: var(--secondary-buttons-color);
}
.div-search-modal{
    background-color:#f1f2f2;
}
.div-search-modal button{
    background-color: var(--primary-buttons-color);
}
.div-search-modal button:hover{
    background-color: var(--primary-buttons-color-hover);
}
.btn-close-modal-search:hover{
    color: #e50418;
}
.title-hero{
    font-size: var(--title-hero-section);
    font-weight: var(--heading-font-weight);
    color: var(--heading-text-color);
}
.span-title{
    color: #e50418;
}
.p-hero{
    font-size: var(--paragraph-size);
    line-height: 2rem;
}
.right-hero{
    background-image: url(/assets/Ellipse-15-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.p2-hero{
    font-size: var(--paragraph-size);
    color: #aaaaa6;
}
.btn-hero-div button{
    color: var(--buttons-text-color);
    box-shadow: var(--buttons-shadow);
    padding: 0.8rem 2.3rem 0.8rem 2.3rem;
    font-weight: 500;
}
.btn-hero1{
    background-color: var(--secondary-buttons-color);
}
.btn-hero2{
    background-color: var(--primary-buttons-color);
}
#servises{
    background-color: #e50418;
    background-image: url("/assets/plans-pattern.png");
    background-size: cover;
}
#servises h3{
    font-size: var(--headeing-size);
    color: var(--heading-text-color2);
    font-weight: var(--heading-font-weight);
}
.name-host{
    background-color: #fafafa;
}
.button-host{
    background-color: var(--secondary-buttons-color);
    transition: all 0.3s;
    cursor: pointer;
}
.button-host:hover{
    background-color: var(--secondary-buttons-color-hover);
}
.icon-props{
    color: #e50418;
}
.left-props h3{
    font-size: var(--headeing-size);
    color: var(--heading-text-color1);
    font-weight: var(--heading-font-weight);
}
.props-div .rred{
    color: #e50418;
}
.props-div .bblack{
    color: #293948;
}
.props-div p{
    font-size: var(--paragraph-size);
}
.left-props .btn1{
    background-color: var(--secondary-buttons-color);
}
.left-props .btn2{
    background-color: var(--primary-buttons-color);
}
.left-props button{
    box-shadow: var(--buttons-shadow);
    padding: 0.7rem 1.8rem 0.7rem 1.8rem;
}
#reasons h3{
    font-size: var(--headeing-size);
    color: var(--heading-text-color1);
    font-weight: var(--heading-font-weight);
}
.items-reason i{
    color: #e50418;
    background-color: #f1f2f2;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
}
.items-reason p{
    color: #aaaaa6;
}
.about-right h3{
    font-size: var(--headeing-size);
    color: var(--heading-text-color1);
    font-weight: var(--heading-font-weight);
}
.about-right button{
    box-shadow: var(--buttons-shadow);
    padding: 0.7rem 1.8rem 0.7rem 1.8rem;
}
.about-right .btn1{
    background-color: var(--secondary-buttons-color);
}
.about-right  .btn2{
    background-color: var(--primary-buttons-color);
}
.about-right p{
    line-height: 2.2rem;
}
.about-right{
    background-image: url(/assets/Ellipse-15-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.left-props{
    background-image: url(/assets/Ellipse-15-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#join-newsletter{
    width: calc(100% - 10rem);
    background-image: url("/assets/Frame-139.png");
    background-size: cover;
}
#join-newsletter h3{
    font-size: var(--headeing-size);
    color: var(--heading-text-color2);
    font-weight: var(--heading-font-weight);
    position: relative;
}
#join-newsletter h3::after{
    content: "";
    height: 3px;
    width: 100%;
    background-color: #e50418;
    display: block;
    margin-top: 8px;
}
.join button{
    background-color: var(--primary-buttons-color);
}
.join button:hover{
    background-color: var(--primary-buttons-color-hover);
}
#servises{
    width: calc(100% - 10rem);
}
#coments h3{
    font-size: var(--headeing-size);
    color: var(--heading-text-color1);
    font-weight: var(--heading-font-weight);
}
#coments{
    background-image: url("/assets/map-2.png");
    background-repeat: no-repeat;
    background-position: left;
}
.item-coments p{
    color: #aaaaa6;
}
.info-person .pers{
    background-color: #f1f2f2;
}
.owl-carousel .item img{
    max-width: 3rem;
}
.top-footer{
    background-color: #e50418;
}
.all-links a{
    font-size: 1.3rem;
    color: #aaaaa6;
    transition: all 0.3s;
}
.all-links a:hover{
    color: #e50418;
}
.middle-footer h5{
    font-size: 1.5rem;
}
.footer-list{
    list-style-type:disc;
}
.logo-footer p{
    color: #aaaaa6;
}
.bottom-footer{
    background-color: #aaaaa646;
}
.media button i{
    color: #e50418;
}
.media button:hover{
    background-color: #e50418;
}
.media button:hover i{
    color: white;
}
.to-up{
    background-color: #e50418;
}
.right-about h3{
    font-size: var(--headeing-size);
    color: var(--heading-text-color1);
    font-weight: var(--heading-font-weight);
}
.right-about p{
    line-height: 2rem;
}
.right-about{
    background-image: url("/assets/Ellipse-15-1.png");
}
